{% extends 'app/base.html' %} {% load static %} {% block title %} Home {% endblock title %}

<!-- BANNER-->
{% block banner-slider %}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'app/images/banner/banner_1.jpg'%}"
        class="d-block w-100"
        alt="..."
      />
      <!--
      <div class="carousel-caption d-none d-md-block text-dark">
        <h5>Banner 1</h5>
        <p>Experience the essence of purity</p>
      </div>
      -->
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/banner_2.jpg'%}"
        class="d-block w-100"
        alt="..."
      />
      <!--
      <div class="carousel-caption d-none d-md-block text-dark">
        <h5>Banner 2</h5>
        <p>The all sesason super refresher.</p>
      </div>
      -->
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/banner_3.jpg'%}"
        class="d-block w-100"
        alt="..."
      />
      <!--
      <div class="carousel-caption d-none d-md-block text-dark">
        <h5>Banner 3</h5>
        <p>Creamy rides to crunchy</p>
      </div>
      -->
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/banner_4.jpg'%}"
        class="d-block w-100"
        alt="..."
      />
      <!--
      <div class="carousel-caption d-none d-md-block text-dark">
        <h5>Banner 4</h5>
        <p>Delight in every bite</p>
      </div>
      -->
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock banner-slider %}
<!-- END BANNER-->

{% block about %}
<div class="container">
  <div class="row bg-info text-center p-5 text-black border-bottom shadow">
    <h1>Who we are..</h1>
    <small class="fs-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis
      ipsa reprehenderit dicta nam, neque et labore cupiditate iste ad? Est,
      cumque labore velit quod minima odio quidem optio mollitia sit, cum sequi
      laborum nesciunt expedita dicta molestias iste tenetur vero, debitis minus
      consectetur tempora voluptatibus delectus? Temporibus nostrum placeat,
      vitae veritatis dolores ipsa ea obcaecati tempora id similique
      perspiciatis.
    </small>
  </div>
</div>
{% endblock about %}

<!--MAIN CONTENT-->
{% block main-content %}
<div class="container">
  <br />
  <br />
  <h2 class="text-center">Our products!!</h2>
  <br /><br />

  <!--1st ROW OUR PRODUCTS-->
  <div class="row container">
    <div
      class="col-md-4 col-sm-4 mi-go wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.6s"
      style="
        animation-duration: 1s;
        animation-delay: 0.6s;
        animation-name: none;
      "
    >
      <div class="goodnesssec buttermilk smbg">
        <a href="{% url 'category' 'JR' %}">
          <div class="goodnessseccont text-center">
            <img
              src="{% static 'app/images/product/jersey-4.PNG' %}"
              class="img-responsive center-block"
              alt=""
            />
            <p class="mlkpro">Jersey</p>
          </div>
        </a>
      </div>
    </div>

    <div
      class="col-md-4 col-sm-4 mi-go wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.6s"
      style="
        animation-duration: 1s;
        animation-delay: 0.6s;
        animation-name: none;
      "
    >
    <div class="goodnesssec buttermilk smbg">
      <a href="{% url 'category' 'HD' %}">
        <div class="goodnessseccont text-center">
          <img
            src="{% static 'app/images/product/hoodie-1.PNG' %}"
            class="img-responsive center-block"
            alt=""
          />
          <p class="mlkpro">Hoodie</p>
        </div>
      </a>
    </div>
  </div>

  <div
  class="col-md-4 col-sm-4 mi-go wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.6s"
  style="
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-name: none;
  "
>
<div class="goodnesssec buttermilk smbg">
  <a href="{% url 'category' 'JS' %}">
    <div class="goodnessseccont text-center">
      <img
        src="{% static 'app/images/product/js-1.PNG' %}"
        class="img-responsive center-block"
        alt=""
      />
      <p class="mlkpro">Jogger Suit</p>
    </div>
  </a>
</div>
</div>



     
    </div>

    <!--2nd ROW OUR PRODUCTS-->
    <br /><br />
    <div class="row container">
      <div
        class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.6s"
        style="
          animation-duration: 1s;
          animation-delay: 0.6s;
          animation-name: none;
        "
      >
        <div class="goodnesssec buttermilk smbg">
          <a href="{% url 'category' 'CP' %}">
            <div class="goodnessseccont text-center">
              <img
                src="{% static 'app/images/product/cap-1.PNG' %}"
                class="img-responsive center-block"
                alt=""
              />
              <p class="mlkpro">Cap</p>
            </div>
          </a>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.6s"
        style="
          animation-duration: 1s;
          animation-delay: 0.6s;
          animation-name: none;
        "
      >
        <div class="goodnesssec buttermilk curdbgpro">
          <a href="{% url 'category' 'TS' %}">
            <div class="goodnessseccont text-center">
              <img
                src="{% static 'app/images/product/shirt-2.PNG' %}"
                class="img-responsive center-block"
                alt=""
              />
              <p class="mlkpro">Shirt</p>
            </div>
          </a>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.6s"
        style="
          animation-duration: 1s;
          animation-delay: 0.6s;
          animation-name: none;
        "
      >
        <div class="goodnesssec buttermilk buttermilk">
          <a href="{% url 'category' 'JK' %}">
            <div class="goodnessseccont text-center">
              <img
                src="{% static 'app/images/product/jacket-1.png' %}"
                class="img-responsive center-block"
                alt=""
              />
              <p class="mlkpro">Jacket</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  {% endblock main-content %}
</div>
